Repository NVIDIA/cub, pull requests merged in 2020-10, with the labels that each got.

#200 Add support for importing CUB targets with add_subdirectory.
  CMakeLists.txt
  cmake/CubAddSubdir.cmake
  examples/CMakeLists.txt
  examples/cmake/CMakeLists.txt
  examples/cmake/add_subdir/CMakeLists.txt
  examples/cmake/add_subdir/dummy.cu
Labels: cmake only

#207 Fixed CubDebug usage in CachingDeviceAllocator::DeviceAllocate
  cub/util_allocator.cuh
Labels: functional bug, testing: dvs passed, testing: mc passed

#214 Update CUB CMake to match recent changes to Thrust.
  CMakeLists.txt
  CONTRIBUTING.md
  cub/cmake/cub-config-version.cmake
  cub/cmake/cub-config.cmake
Labels: cmake only, testing: mc passed

#213 Remove policies for arch < sm35.
  cub/device/dispatch/dispatch_histogram.cuh
  cub/device/dispatch/dispatch_radix_sort.cuh
  cub/device/dispatch/dispatch_reduce.cuh
  cub/device/dispatch/dispatch_reduce_by_key.cuh
  cub/device/dispatch/dispatch_rle.cuh
  cub/device/dispatch/dispatch_scan.cuh
  cub/device/dispatch/dispatch_select_if.cuh
  cub/device/dispatch/dispatch_spmv_orig.cuh
Labels: testing: dvs in progress, testing: mc passed
